<%= flash_messages %>
<div class="block">
	<header class="header-group">
		<h2>Welcome to our E-commerce website 7anet5arag men iti w na5od 7000 emta?? e7naa msh bntabel ya hassanien</h2>
	</header>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>
